<html>
<head>
<title>Welcome, <%=h current_user.name != "" ? current_user.name : current_user.login %></title>

<link href="/stylesheets/custom_buttons.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/lavalamp/lavalamp.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/javascripts/jquery-1.2.6.js"></script>
<script type="text/javascript" src="/javascripts/jquery.ui.all-1.5.2.js"></script>
<script type="text/javascript" src="/javascripts/jquery.layout.js"></script>

<script type="text/javascript" src="/javascripts/jquery.easing.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.lavalamp.js"></script>


<!-- IE PNG bug fix -->
<style type="text/css">
img, div, a, input { behavior: url(/stylesheets/iepngfix.htc) }
</style>
<script type="text/javascript" src="/javascripts/iepngfix_tilebg.js"></script>


<style type="text/css" media="screen">

body {
  position: absolute;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
  height: 100%;
  width: 100%;
}

a {
  color: #ddeeee
}

#user_info_holder a:hover {
  background-color: #6688bb;
}

.ui-layout-pane { /* all 'panes' */ 
	border: 1px solid #BBB; 
	padding: 10px; 
	overflow: auto;
} 

.ui-layout-resizer { /* all 'resizer-bars' */ 
	background: #DDD; 
} 

.ui-layout-toggler { /* all 'toggler-buttons' */ 
	background: #AAA; 
}

.layout_header {
  background-image: url('/images/header-bg.gif');
  overflow: hidden;
}

#nova-logo {
  margin: 0;
  position: absolute;
  padding: 0;
  left: 50px;
  top: 10px;
}

#global_nav_bar {
  margin: 0;
  position: absolute;
  padding-top: 30px;  /* note that since lavalamp has height 30, setting padding-top to 30 makes the navi-bar in vertical center */
  padding-left: 70px;
  width: 900px;
  height: 90px;
  top: 0px;
  left: 200px;
}

#user_info_holder {
  margin: 0;
  position: absolute;
  display: block;
  top: 0;
  right:0;
  width: 300;
  height: 90;
}

#layout_left_pane {
/* another style: #e6e3ef */
  background-color: #e6e3ef;
}

#layout_center_pane {
/* another style: #656061 */
/*  background-color: #656061; */

}

</style>
<script type="text/javascript">

	var myLayout; // a var is required because this page utilizes: myLayout.allowOverflow() method

	$(document).ready(function () {
	  
		// this layout could be created with NO OPTIONS - but showing some here just as a sample...
		// myLayout = $('body').layout(); -- syntax with No Options
		myLayout = $('body').layout({
		//	reference only - these options are NOT required because are already the 'default'
			closable:				true	// pane can open & close
		,	resizable:				true	// when open, pane can be resized 
		,	slidable:				true	// when closed, pane can 'slide' open over other panes - closes on mouse-out
		, north__size: 90
		, north__resizable: false
		//	some resizing/toggling settings
//		,	north__slidable:		false	// OVERRIDE the pane-default of 'slidable=true'
//		,	north__togglerLength_closed: '100%'	// toggle-button is full-width of resizer-bar
//		,	north__spacing_closed:	20		// big resizer-bar when open (zero height)
//		,	south__resizable:		false	// OVERRIDE the pane-default of 'resizable=true'
//		,	south__spacing_open:	0		// no resizer-bar when open (zero height)
//		,	south__spacing_closed:	20		// big resizer-bar when open (zero height)
		//	some pane-size settings
		,	west__minSize:			200
		, west__maxSize:      300
		, west__size:         300
//		,	east__size:				300
//		,	east__minSize:			200
//		,	east__maxSize:			Math.floor(screen.availWidth / 2) // 1/2 screen width
		});
		
		// TODO ENHANCE use apple style, like Google Chrome's inspector
		$(function() {
      $("#global_nav_bar").lavaLamp({
        fx: "backout",
        speed: 700,
        click: function(event, menuItem) {
//          return false;
        }
      });
    });

 	});
</script>

</head>
<body scroll="no">


<div class="ui-layout-north layout_header">

  <img src="/images/logo-small.png" id="nova-logo"></img>
  <ul class="lavaLampWithImage" id="global_nav_bar">
  
<%
  header_bar_html = ""
  if @navi_bar
    0.upto(@navi_bar[:links].length - 1) do |i|
      if i == @navi_bar[:current_index]
        header_bar_html += '<li class="current">'
      else
        header_bar_html += '<li>'
      end
      header_bar_html += '<a href="' + @navi_bar[:links][i][:href] + '">' + @navi_bar[:links][i][:text] + "</a></li>"
    end
  end
%>

<%= header_bar_html %>
    
  </ul>
  
  <div id="user_info_holder">
  
<% if current_user.in_group? "root" %>
    <img src="/images/user_64_red.png" style="position:relative;top:13px"></img>
<% elsif current_user.in_group? "admin" %>
    <img src="/images/user_64_yellow.png" style="position:relative;top:13px"></img>
<% else  %>
    <img src="/images/user_64_blue.png" style="position:relative;top:13px"></img>
<% end %>

    <div style="position:relative;top:-50px;left:70px">
    Hi, <%=h current_user.login %>!<br />
    <%= link_to "Log out", logout_url %>
    </div>
  </div>
  
</div>

<div class="ui-layout-west" id="layout_left_pane">
  <%= yield :layout_left_frame %>
</div>

<div class="ui-layout-center" id="layout_center_pane">
  <%= yield :layout_center_frame %>
</div>

</body></html>

