<h1>S#list</h1>
<p>Find me in app/views/s/list.html.erb</p>

<table>
  <tr>
    <td align="center">id</td>
    <td align="center">kind</td>
    <td align="center">status</td>
    <td align="center">template</td>
    <td align="center">vd uuid</td>
    <td align="center">vm uuid</td>
  </tr>
  <% @vds.each do |vd| %>
  <tr>
    <td><%= vd.id %></td>
    <td><%= vd.vd_kind %></td>
    <td><%= vd.vd_template %></td>
    <td><%= vd.vd_status %></td>
    <td><%= vd.vd_uuid %></td>
    <td><%= vd.vm_uuid %></td>
  </tr>
  <% end %>
</table>