<% content_for :head_section do %>
<!--[if IE]>
<script type="text/javascript" src="/javascripts/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/javascripts/jquery.flot.min.js"></script>
<% end %>

<% content_for :page do %>
<p/>

<center>
This feature is still under development. We are using the <a href='http://code.google.com/p/flot'>flot</a> library to plot the charts.<p/>

Here is a demo graph:

<% time_now = Time.now %>
<% time_str = (time_now - 3600).strftime("%Y%m%d%H%M%S") %>
<% Pmachine.all.each do |pm| %>  
  <div id="CPU_holder_<%= pm.id %>" style="width:300px;height:150px;"></div>
  <script type="text/javascript">
  $(function() {
    <% logs = PerfLog.find(:all, :conditions => ["pmachine_id = ? and time > ?", pm.id, time_str] ) %>
    var CPU = [];
    <% logs.each do |log| %>
      
      var time = <%= log["time"].delete("-").to_i %>;
      
      var tmp = <%= log["CPU"].gsub(/[^0-9\.]/, "").to_f %>;
      CPU.push([time, tmp]);    
    <% end-%>
    $.plot($("#CPU_holder_<%= pm.id %>"), [
     {
       data: CPU,
       lines: { show: true }
     }
    ]);   
    
                  
  });
  </script>

  <div id="memory_holder_<%= pm.id %>" style="width:300px;height:150px;"></div>
  <script type="text/javascript">
  $(function() {
    var memTotal = [];
    var memFree = [];
    <% logs = PerfLog.find(:all, :conditions => ["pmachine_id = ? and time > ?", pm.id, time_str] ) %>
    <% logs.each do |log| %>
      var time = <%= log["time"].delete("-").to_i %>;
      
      tmp = <%= log["memTotal"].gsub(/[^0-9\.]/, "").to_f %>;
      memTotal.push([time, tmp]);
      
      tmp = <%= log["memFree"].gsub(/[^0-9\.]/, "").to_f %>;
      memFree.push([time, tmp]);
      
    <% end-%>
    $.plot($("#memory_holder_<%= pm.id %>"), [
     {
       data: memTotal,
       lines: { show: true }
     },
     {
       data: memFree,
       lines: { show: true }
     }
    ]);                    
  });
  </script>

  <div id="network_holder_<%= pm.id %>" style="width:300px;height:150px;"></div>
  <script type="text/javascript">
  $(function() {
    var Rece = [];
    var Tran = [];
    <% logs = PerfLog.find(:all, :conditions => ["pmachine_id = ? and time > ?", pm.id, time_str] ) %>
    <% logs.each do |log| %>
      var time = <%= log["time"].delete("-").to_i %>;
      
      tmp = <%= log["Rece"].gsub(/[^0-9\.]/, "").to_f %>;
      Rece.push([time, tmp]);
      
      tmp = <%= log["Tran"].gsub(/[^0-9\.]/, "").to_f %>;
      Tran.push([time, tmp]);
      
    <% end-%>
    $.plot($("#network_holder_<%= pm.id %>"), [
     {
       data: Rece,
       lines: { show: true }
     },
     {
       data: Tran,
       lines: { show: true }
     }
    ]);                    
  });
  </script>

  <div id="disk_holder_<%= pm.id %>" style="width:300px;height:150px;"></div>
  <script type="text/javascript">
  $(function() {
    var dSize = [];
    var dAvail = [];
    <% logs = PerfLog.find(:all, :conditions => ["pmachine_id = ? and time > ?", pm.id, time_str] ) %>
    <% logs.each do |log| %>
      var time = <%= log["time"].delete("-").to_i %>;
      
      tmp = <%= log["dSize"].gsub(/[^0-9\.]/, "").to_f %>;
      dSize.push([time, tmp]);
      
      tmp = <%= log["dAvail"].gsub(/[^0-9\.]/, "").to_f %>;
      dAvail.push([time, tmp]);
      
    <% end-%>
    $.plot($("#disk_holder_<%= pm.id %>"), [
     {
       data: dSize,
       lines: { show: true }
     },
     {
       data: dAvail,
       lines: { show: true }
     }
    ]);                    
  });
  </script>
<% end-%>
</center>
<p/>
<% end %>

