<%

def spacing size = 8
  return "&nbsp;" * size
end

%>

<% content_for :page do %>

<script type="text/javascript">
$(document).ready(function() {
  system_load_settings(<%= Setting.count %>);
  port_mapping_load();
  load_worker_machines();
});
</script>

<center>

<b>System settings</b> <a href='#' onclick="system_load_settings(<%= Setting.count %>);">(refresh)</a><p/>

<%
# don't add any thing inside the <div></div>
%>
<div id="system_settings_container"></div>

<p/>
<hr>
<p/>

<b>Worker machines</b> <a href='#' onclick="load_worker_machines()">(refresh)</a><p/>

<%
# don't add any thing inside the <div></div>
%>
<div id="worker_machines_container"></div>

Worker IP: <input type="text" id="new_worker_machine_ip" /> <%= spacing 2 %>
VM capacity: <input type="text" id="new_worker_machine_capacity" /> <%= spacing 2 %>
<button type="button" class='btn' onclick='pmachine_add()'><span><span>Add new worker</span></span></button>

<p/>
<hr>
<p/>

<b>Port mappings</b> <a href='#' onclick="port_mapping_load()">(refresh)</a><p/>

<%
# don't add any thing inside the <div></div>
%>
<div id="port_mappings_container"></div>
<p/>

Proxy port: <input type="text" id="port_mapping_proxy_port"/> <%= spacing 2 %>
Destination IP: <input type="text" id="port_mapping_ip" /> <%= spacing 2 %>
Destination Port: <input type="text" id="port_mapping_dest_port"/> <%= spacing 2 %>
<button type="button" class='btn' onclick="add_port_mapping()"><span><span>Add new mapping</span></span></button>

</center>


<% end %>
