<% content_for :page do %>

<center>
<h2>Create a single machine</h2>
</center>
<table width='100%'><tr><td>
Machine image: <select id='new_single_machine_image'>
<% Vdisk.all.each do |vdisk|%>
<option value='<%= vdisk.file_name %>'><%= vdisk.display_name %></option>
<% end-%>
</select>
<div id='new_single_machine_image_info'></div>

<p/>

Machine name: <input type='text' size=30 id='new_single_machine_name' /><br/>
CPU Count: <select id="new_single_machine_cpu_count">
<option>1</option>
<option>2</option>
<option>4</option>
</select><%= spacing 4 %>
Memory size: <input type='text' size=6 id='new_single_machine_mem_size' /> MB<br/>
Software (separate with comma):<br/>
<input type='txt' size=45 id='new_single_machine_soft_list_input' />
</td>


<td id='new_single_machine_soft_list'/>

</tr></table>

<center>
<button type='button' class='btn' onclick='create_single_machine()'><span><span>Create machine!</span></span></button>

<script type='text/javascript'>
$("#new_single_machine_image").change(function() {
  single_machine_image_selected($("#new_single_machine_image").val());
});

function single_machine_image_selected(vdisk_fname) {
  var soft_info = {
    <% Software.all.each do |soft| %>
      "<%= soft.file_name %>": {
        "display_name": "<%= soft.display_name %>",
        "os_family": "<%= soft.os_family %>",
        "desc": "<%=h soft.description %>",
      },
    <% end-%>
  };
  var vdisk_info = {
    <% Vdisk.all.each do |vdisk| %>
      "<%= vdisk.file_name %>": {
        "disk_format": "<%= vdisk.disk_format %>",
        "os_family": "<%= vdisk.os_family %>",
        "os_name": "<%= vdisk.os_name %>",
        "desc": "<%=h vdisk.description %>",
        "soft_list": "<%= vdisk.soft_list %>",
      },
    <% end-%>
  };

  var html = "<b>OS family:</b> " + vdisk_info[vdisk_fname]["os_family"] + "</br>";
  html += "<b>OS name:</b> " + vdisk_info[vdisk_fname]["os_name"] + "</br>";
  html += "<b>Image format:</b> " + vdisk_info[vdisk_fname]["disk_format"] + "</br>";
  html += "<b>Description:</b> " + vdisk_info[vdisk_fname]["desc"] + "</br>";
  $("#new_single_machine_image_info").html(html);

  var vdisk_soft_list = [];
  if (vdisk_info[vdisk_fname]["soft_list"] != null) {
    vdisk_soft_list = vdisk_info[vdisk_fname]["soft_list"].split(",");
  }

  html = "<b>Software lists:</b><p/>";
  for (var i = 0; i < vdisk_soft_list.length; i++) {
    var soft_fname = vdisk_soft_list[i].trim();
    if (soft_fname == "") {
      continue;
    }
    var soft = soft_info[soft_fname];
    html += "<b>" + soft["display_name"] + "</b><br/>";
    html += "Description: " + soft["desc"] + "<br/>";
    html += "<p/>";
  }
  
  $("#new_single_machine_soft_list").html(html);
}

function create_single_machine() {
  var machine_name = $("#new_single_machine_name").val();
  var vdisk_fname = $("#new_single_machine_image").val();
  var cpu_count = $("#new_single_machine_cpu_count").val();
  var mem_size = $("#new_single_machine_mem_size").val();
  var soft_list = $("#new_single_machine_soft_list_input").val();

  // TODO ajax request
}

$(document).ready(function() {
  single_machine_image_selected($("#new_single_machine_image").val());
});


function on_change_cluster_size() {
  $("#create_cluster_container").html("");
  var cluster_size = parseInt($("#new_cluster_size").val());
  var html = "<table width='100%'>";
  for (var machine_id = 1; machine_id <= cluster_size; machine_id ++) {
    html += "<tr class='row_type_" + ((machine_id + 1) % 2) + "'><td><h2>" + machine_id + "</h2></td><td>";

    html += "Machine image: <select id='cluster_machine_vdisk-" + machine_id + "'>";
    <% Vdisk.all.each do |vdisk| %>
      html += "<option value='<%= vdisk.file_name %>'><%= vdisk.display_name %></option>";
    <% end-%>
    html += "</select>";
    html += "<%= spacing 4%>";
    html += "Machine name: <input type='text' id='cluster_machine_name-" + machine_id + "' value='node" + machine_id + "' />";
    html += "<%= spacing 4%>";
    html += "CPU count: <select id='cluster_cpu_count-" + machine_id + "'>";
    html += "<option>1</option><option>2</option><option>4</option></select>";
    html += "<%= spacing 4%>";
    html += "Memory size: <input type='text' id='cluster_mem_size-" + machine_id + "'> MB<br/>";
    html += "Software (separate with comma): <input type='text' size=120 id='cluster_soft_list-" + machine_id + "'>";
    html += "<%= spacing 4%>";
    html += "<button type='button' class='btn' onclick='cluster_setting_apply_down(" + machine_id + ", " + cluster_size + ")'><span><span>Apply down</span></span></button>";
    html += "</td></tr>";

  }
  html += "</table><p/>";
  html += "<button type='button' class='btn' onclick='create_cluster()'><span><span>Create cluster!</span></span></button>";
  $("#create_cluster_container").html(html);
}

function cluster_setting_apply_down(machine_id, cluster_size) {
  var vdisk_fname = $("#cluster_machine_vdisk-" + machine_id).val();
  var cpu_count = $("#cluster_cpu_count-" + machine_id).val();
  var mem_size = $("#cluster_mem_size-" + machine_id).val();
  var soft_list = $("#cluster_soft_list-" + machine_id).val();

  for (i = machine_id + 1; i <= cluster_size; i++) {
    $("#cluster_machine_vdisk-" + i).val(vdisk_fname);
    $("#cluster_cpu_count-" + i).val(cpu_count);
    $("#cluster_mem_size-" + i).val(mem_size);
    $("#cluster_soft_list-" + i).val(soft_list);
  }
}

function create_cluster() {
  var cluster_size = parseInt($("#new_cluster_size").val());
  var cluster_name = $("#new_cluster_name").val();
  alert(cluster_size);
  alert(cluster_name);
}
</script>

<hr/>

<h2>Create a cluster</h2>
Cluster name: <input type='text' id='new_cluster_name' /> <%= spacing 4 %>
Cluster size: <input type='text' size=4 id='new_cluster_size' />
<button type='button' class='btn' onclick='on_change_cluster_size()'><span><span>OK</span></span></button>

<div id='create_cluster_container' />


</center>
<% end %>
