<%
  @nav_bar_current = "Settings"
  @skip_layout_left_pane = true
%>

<%
  ###################################################################################
%>


<% content_for :layout_style_and_scripts do %>

<link href="/stylesheets/table-style/styles.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">

function edit_setting(key) {
  $("#setting-value-" + key).hide();
  $("#setting-edit-" + key).hide();
  $("#setting-newvalue-" + key).show();
  $("#setting-save-or-cancel-" + key).show();
}


function save_setting(setting_key) {

  var ajax_data = {
    key: setting_key,
    value: $("#setting-newvalue-input-" + setting_key).val()
  };

  function stop_editing() {
    $("#setting-value-" + setting_key).show();
    $("#setting-edit-" + setting_key).show();
    $("#setting-newvalue-" + setting_key).hide();
    $("#setting-save-or-cancel-" + setting_key).hide();
  }

  $.ajax({
    type: "POST",
    url: "/settings/edit",
    data: ajax_data,
    dataType: 'json',
    error: function(e) {
      show_message("Connection error! Check your network connection!");
      stop_editing();
    },
    success: function(result) {
      show_message(result.message);
      $("#setting-newvalue-input-" + setting_key).val(result.new_value);
      $("#setting-value-" + setting_key).html(result.new_value);
      stop_editing();
    }
  });
}

function dont_save_setting(key) {
  $("#setting-value-" + key).show();
  $("#setting-edit-" + key).show();
  $("#setting-newvalue-" + key).hide();
  $("#setting-save-or-cancel-" + key).hide();
}

</script>


<% end -%>


<%
  ###################################################################################
%>

<% content_for :layout_center_frame do %>

<center>
<table id="setting_table" class="styled_table" cellspacing="0">
<tr>
  <th scope="col">Key</th>
  <th scope="col" width=500>Value</th>
  <th scope="col" width=110>Action</th>
</tr>

<%
  i = 0
  Setting.all.each do |s|
    i += 1
%>
<tr>
  <th scope="row" <%= "class='#{(i.even?) ? "specalt" : "spec"}'" %>>
    <%= s.key %>
  </th>
  <td <%= "class='alt'" if i.even? %>>
    <div id="setting-value-<%= s.key %>">
      <%= s.value %>
    </div>
    <div id="setting-newvalue-<%= s.key %>" style="display:none;">
      <input id="setting-newvalue-input-<%= s.key %>" type="text" value="<%= s.value %>" size=64/>
    </div>
  </td>
  <td <%= "class='alt'" if i.even? %>>
    <div id="setting-edit-<%= s.key %>">
      <a href="#" onclick="edit_setting('<%= s.key %>')">Edit</a>
    </div>
    <div id="setting-save-or-cancel-<%= s.key %>" style="display:none;">
      <a href="#" onclick="save_setting('<%= s.key %>')">Save</a>
      <a href="#" onclick="dont_save_setting('<%= s.key %>')">Cancel</a>
    </div>
  </td>
</tr>
<% end -%>

</table>
</center>

<% end -%>

