<html>
<head>


<title>Nova platform: Welcome!</title>

<link href="/stylesheets/prototype_window/default.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/prototype_window/alphacube.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/prototype_window/mac_os_x.css" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag 'default' %>
<script type="text/javascript" src="/javascripts/prototype.js"> </script>
<script type="text/javascript" src="/javascripts/effects.js"> </script>
<script type="text/javascript" src="/javascripts/prototype_window/window.js"> </script>
<script type="text/javascript" src="/javascripts/prototype_window/window_effects.js"> </script>
<%= growl4rails_includes %>
<style type="text/css" media="screen">

body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 28px;
  color: #000;
}

a {
  color: #03c
}

a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}

#page {
  background-color: gray;
  width: 750px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: auto;
  padding: 0;
}

.inputPlaceHolder {
  color: gray;
}
 
</style>
<script type="text/javascript">

  function do_login() {
    $('login_form').submit();
  }

  function do_signup() {
/*    Dialog.confirm($("signup_div").innerHTML, {
      width: 240,
      id: "signup_win",
      className: "mac_os_x",
      blurClassName: "blur_os_x",
      title: "Sign up form"
    });*/
    var win = new Window({
      className: "mac_os_x",
      blurClassName: "blur_os_x",
      title: "demo_win1",
      width: 400,
      height: 300,
      top: 340,
      left: 230
    });
    win.getContent().update("WTF!");
    win.show();
    Growl4Rails.showGrowl({
      image_path: "/images/rails.png",
      title: "Registration data sent",
      message: "Please <font color='red'><b>wait</b></font> for administrator's approval"
    });
  }

  window.onload = function() {
    var login_field = $('login');
    login_field.value = "username";

    var password_field = $('password');
    password_field.value = "password";
    
    function decorate_field(field) {
      field.addClassName("inputPlaceHolder");
      field.onclick = function () {
        field.value = "";
        field.removeClassName("inputPlaceHolder");
        field.onkeydown = function(e) {
          if (e.keyCode == 13) {
            do_login();
          }
        }
      }
    }

    decorate_field(login_field);
    decorate_field(password_field);
  }

</script>
</head>
<body>
<div id="page">
  <h1>Nova Login <%=h params[:error_msg] %> </h1>

  <% form_tag session_path, :id => 'login_form' do -%>

  <%= text_field_tag 'login', @login %>

  <%= password_field_tag 'password', nil %>
<!--
  <p><%= label_tag 'remember_me', 'Remember me' %>
  <%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->
  <a href='#' onclick="do_login(); return false">Login</a>

  <a href="#" onclick="do_signup(); return false">Sign Up</a>

  <%= link_to_prototype_dialog("hah", "say hi", 'alert', {:className => "mac_os_x", :width => 340, :height => 300}) %>

  <% end -%>
</div>

<div id="signup_div" style="display: none;">
  This is the text
  <input type='text'></input>
  <input type='button'></input>
  <input type='checkbox'></input>
</div>
</body></html>
