<html>
<head>
<%= javascript_include_tag 'prototype.js' %>
<%= javascript_include_tag 'effects.js' %>
<%= growl4rails_includes %>
<%= stylesheet_link_tag 'default' %>
<style type="text/css" media="screen">
#page {
  background-color: gray;
  width: 750px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: auto;
  padding: 0;
}

.inputPlaceHolder {
  color: gray;
}
 
</style>
<script type="text/javascript">

  function do_login() {
    $('login_form').submit();
  }

  function do_signup() {
    Growl4Rails.showGrowl({
      image_path: "/images/rails.png",
      title: "Registration data sent",
      message: "Please wait for administrator's approval"
    });
  }

  window.onload = function() {
    var login_field = $('login');
    login_field.value = "username";

    var password_field = $('password');
    password_field.value = "password";
    
    function decorate_field(field) {
      field.addClassName("inputPlaceHolder");
      field.onclick = function () {
        field.value = "";
        field.removeClassName("inputPlaceHolder");
        field.onkeydown = function(e) {
          if (e.keyCode == 13) {
            do_login();
          }
        }
      }
    }

    decorate_field(login_field);
    decorate_field(password_field);
  }

</script>
</head>
<body>
<div id="page">
  <h1>Nova Login <%=h params[:error_msg] %> </h1>

  <% form_tag session_path, :id => 'login_form' do -%>

  <%= text_field_tag 'login', @login %>

  <%= password_field_tag 'password', nil %>
<!--
  <p><%= label_tag 'remember_me', 'Remember me' %>
  <%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->
  <a href='#' onclick="do_login(); return false">Login</a>

  <a href="#" onclick="do_signup(); return false">Sign Up</a>

  <% end -%>
</div>
</body></html>
