<html>
<head>


<title>Nova platform: Welcome!</title>

<link href="/stylesheets/prototype_window/default.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/prototype_window/mac_os_x.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/javascripts/prototype.js"> </script>
<script type="text/javascript" src="/javascripts/effects.js"> </script>
<script type="text/javascript" src="/javascripts/prototype_window/window.js"> </script>
<script type="text/javascript" src="/javascripts/prototype_window/window_effects.js"> </script>

<%= growl4rails_includes %>
<style type="text/css" media="screen">

body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #ddeeee;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

input {
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
}

h1 {
  font-size: 28px;
  color: #000;
}

a {
  color: #ddeeee
}

a:hover {
  background-color: #6688bb;
}

#page {
  position: absolute;
  background-image: url(/images/bg.jpg);
  width: 750px;
  height: 500px;
  border: 15px white solid;
}

#login_panel {
  position: relative;
  left: -20px;
  top: +20px;
}

#logo_holder {
  position: absolute;
}

#bottom_line {
  position: absolute;
  height: 30px;
  color: #ddeeee;
}

.wait_for_input {
  color: gray;
}

.wrong_input {
  background-color: #ff4444;
}
 
</style>
<script type="text/javascript">

  function do_login() {
    var login_field = $('login');
    var password_field = $('password');
    
    if (login_field.hasClassName("wait_for_input")) {
      login_field.addClassName("wrong_input");
      if (Prototype.Browser.IE) {
        alert("No username");
      } else {
        Growl4Rails.showGrowl({
          image_path: "/images/error.png",
          title: "Login incorrect",
          message: "Please provide your <font color='red'>username</font>!"
        });
      }
      return;
    }
    
    if (password_field.hasClassName("wait_for_input")) {
      password_field.addClassName("wrong_input");
      if (Prototype.Browser.IE) {
        alert("No password");
      } else {
        Growl4Rails.showGrowl({
          image_path: "/images/error.png",
          title: "Login incorrect",
          message: "Please provide your <font color='red'>password</font>!"
        });
      }
      return;
    }
    
    new Ajax.Request('/sessions/create', {
      method: 'post',
      parameters: {
        login: login_field.value,
        password: password_field.value
      },
      onSuccess: function(transport){
        var response = transport.responseText;
        alert(transport.responseText);
      },
      onFailure: function() {
        alert("connection failed");
      }
    });
  }

  function do_signup() {
    var panel = $("page");
    var left_origin = (getWindowWidth() - panel.getWidth()) / 2;
    var top_origin = (getWindowHeight() - panel.getHeight()) / 2;
    
    var win = $("signup_window");
    
    // TODO adjust top & left according to different browsers
    // TODO fix: when signup form was closed once, open it again, and then we cannot close it
    if (win == null) {
      var win = new Window({
        id: "signup_window",
        className: "mac_os_x",
        blurClassName: "blur_os_x",
        title: "Sign up form",
        width: 400,
        height: 300,
        top: top_origin + 70,
        left: left_origin + 320,
        minimizable: false,
        maximizable: false,
        resizable: false
      });
      win.getContent().update($("signup_form").innerHTML);
    }
    win.show();
    Growl4Rails.showGrowl({
      image_path: "/images/rails.png",
      title: "Registration data sent",
      message: "Please <font color='red'><b>wait</b></font> for administrator's approval"
    });
  }
  
  function getWindowWidth() {
    return window.innerWidth || (window.document.documentElement.clientWidth || window.document.body.clientWidth);
  }
  
  function getWindowHeight() {
    return window.innerHeight || (window.document.documentElement.clientHeight || window.document.body.clientHeight);
  }
  
  // put the login panel to the center
  function do_layout() {
    var panel = $("page");
    var left_origin = (getWindowWidth() - panel.getWidth()) / 2;
    var top_origin = (getWindowHeight() - panel.getHeight()) / 2;
    panel.setStyle("left:" + left_origin);
    panel.setStyle("top:" + top_origin);
    var logo = $("logo_holder");
    logo.setStyle("left:" + (left_origin + 50));
    logo.setStyle("top:" + (top_origin + 30));
    
    var bottom = $("bottom_line");
    var bottom_margin = 10;
    bottom.setStyle("width:" + (panel.getWidth() - bottom_margin * 2));
    var page_border_width = 15;
    bottom.setStyle("left:" + (left_origin + page_border_width + bottom_margin));
    bottom.setStyle("top:" + (top_origin + panel.getHeight() + page_border_width - bottom.getHeight()));
  }
  
  window.onload = function() {
    
    window.onresize = do_layout;
    do_layout();
    
    $("page").show(); // prevents blinking
    $("logo_holder").show();
    $("bottom_line").show();
    
    if (Prototype.Browser.IE) {
      // warning for ie
      Dialog._openDialog($("ie_warning").innerHTML, {
        width: 300,
        id: "ie_warning_win",
        className: "mac_os_x",
        blurClassName: "blur_os_x"
      });
    }

    var login_field = $('login');
    login_field.value = "username";

    var password_field = $('password');
    password_field.value = "password";
    
    function decorate_field(field, default_text, default_class) {
      field.value = default_text;
      field.addClassName(default_class);
      field.onclick = function () {
        if (field.hasClassName(default_class)) {
          field.value = ""; // clear default data, wait for user's input
        }
        
      }
      field.onkeydown = function(e) {
        if (e.keyCode == 13) {  // 'enter'
          do_login();
        }
        if (field.value != "") {
          field.removeClassName(default_class);
          field.removeClassName("wrong_input");
        }
      }
      
      // on lost focus, check if has user input
      field.onblur = function() {
        if (field.value == "") {
          field.value = default_text;
          field.addClassName(default_class);
        }
      }
    }
    decorate_field(login_field, "username", "wait_for_input");
    decorate_field(password_field, "password", "wait_for_input");
  }

</script>
</head>
<body>
<!-- div# page set to display:none, and will be shown by javascript. this is intended to reduce flickering -->
<div id="page" style="display: none;">
  
  <div id="login_panel" align='right'>
  <%= text_field_tag 'login', @login %>
  <%= password_field_tag 'password', nil %>
<%
# <p><%= label_tag 'remember_me', 'Remember me' % >
# <%= check_box_tag 'remember_me', '1', @remember_me % >
%>
  <a href='#' onclick="do_login(); return false">Login</a>
  <a href="#" onclick="do_signup(); return false">Sign Up</a>
  </div>

<%
#  <%= link_to_prototype_dialog("show a confirm win", "say hi", 'alert', {:title => "Demo win", :className => "mac_os_x", :width => 340, :height => 300}) % >
%>
</div>

<div id="logo_holder" style="display: none;">
  <img src="/images/logo-medium.png" />
</div>

<div id="bottom_line" style="display: none;">
<div style="position: absolute">&copy;2009 <a href="mailto:santa.zh@gmail.com">Santa Zhang</a></div>
<div align="right" >
  <a href="#" onclick="alert('TODO')">Documenation</a> &nbsp;
  <a href="#" onclick="alert('TODO')">Plain Version</a> &nbsp;
  <a href="#" onclick="alert('TODO')">Forum</a> &nbsp;
  <a href="#" onclick="alert('TODO')">Nova on Github</a>
</div>
</div>

<div id="ie_warning" style="display: none;">
<font style="font-size: 20px">Warning: IE browser is not fully supported!</font>
<p align="center">
<a href="#" onclick="Dialog.okCallback(); return false" style="color: red; font-size: 20px;">OK</a>
</p>
</div>

<div id="signup_form" style="display: none;">
TODO: signup form
</div>

</body></html>
