<h1>Ok#list</h1>
<p>Find me in app/views/ok/list.html.erb</p>


<% @list_of_vm.each do |v| %>
<ul>
  <li>
    <%= v%> 
    <%= button_to "check",
	{:id => v, :action => :check}, :method => :get %>
    <%= button_to "start",
	{:id => v, :action => :start}, :method => :put %>
    <%= button_to "stop",
	{:id => v, :action => :stop}, :method => :put %>
    <%= button_to "suspend",
	{:id => v, :action => :suspend}, :method => :put %>
    <%= button_to "resume",
	{:id => v, :action => :resume}, :method => :put %>
    <%= button_to "destroy",
	{:id => v, :action => :destroy}, :method => :delete, :confirm => "Destroy the #{v}?" %>
  </li>
</ul>
<% end %>

<% form_for :vm, :url => {:action => :create} do |f| %>
<lable>name:</label>
<%= f.text_field :name %></br>
<lable>uuid:</label>
<%= f.text_field :uuid %></br>
<lable>mem:</label>
<%= f.text_field :mem %></br>
<lable>cpu:</label>
<%= f.text_field :cpu %></br>
<lable>description</label>
<%= f.text_area :desc %><br />
<lable>blahblah</label>
<%= f.check_box :blah %><br />
<%= submit_tag "Create Now", :class => :submit%>
<% end %>
